<mat-card>
  <mat-card-title>Ratings</mat-card-title>

  <section>
    <button color="primary" mat-fab (click)="openRatingDialog()" style="margin-bottom: 10px"
            matTooltip="Add rating">
      <mat-icon>library_add</mat-icon>
    </button>
  </section>

  <div class="mytable example-container mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nr.</mat-header-cell>
        <mat-cell *matCellDef="let i = index" data-label="Nr."> {{i + 1}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="rating">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Rating</mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="Tytuł"> {{element.rating}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="dateRating">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Date</mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="Tytuł"> {{element.dateRating}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button (click)="deleteRating(element.id)" class='btn btn-danger' mat-mini-fab>
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</mat-card>
