<section>
  <button color="primary" mat-fab (click)="addLibrary()" style="margin-right: 10px"
          matTooltip="Dodaj książkę">
    <mat-icon>library_add</mat-icon>
  </button>
  <button mat-fab (click)="settingsLibrary()" matTooltip="Ustawienia"
          style="margin-right: 10px">
    <mat-icon>settings</mat-icon>
  </button>
  <button mat-fab routerLink="books-view" matTooltip="Zmień widok"
          style="margin-right: 10px">
    <mat-icon>view_module</mat-icon>
  </button>
</section>

<div class="example-header" fxLayout="row">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>

<div class="mytable example-container mat-elevation-z8">
  <mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nr.</mat-header-cell>
      <mat-cell *matCellDef="let i = index" data-label="Nr."> {{i + 1}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Tytuł</mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Tytuł"> {{element.title}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Opis</mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Opis"> {{element.description}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Data premiery</mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Data premiery"> {{element.date}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="typeId">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Gatunek</mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Gatunek"> {{element.typeId.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="authorId">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Autor</mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Autor"> {{element.authorId.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="ratingId">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Ocena</mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Ocena"> {{element.ratingId.rating}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button (click)="editBook(element.id)" class='btn btn-info' mat-mini-fab color="primary"
                matTooltip="Dane książki">
          <i class="large material-icons">person</i>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button (click)="deleteBook(element.id)" class='btn btn-danger' mat-mini-fab
                matTooltip="Usuń">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

