<h2 mat-dialog-title>Dodaj nową ocenę</h2>

<mat-dialog-content>
  <form (ngSubmit)="onSubmit()" class="demo-full-width">
    <div fxLayout="row wrap">
      <mat-form-field>
        <input matInput placeholder="Nazwa" [(ngModel)]="rating.rating" name="titles">
      </mat-form-field>
    </div>

    <div fxLayout="row wrap">
      <button mat-raised-button mat-dialog-close>Wyjdź</button>
      <button type="submit" mat-raised-button color="primary" mat-dialog-close cdkFocusInitial>Zapisz</button>
    </div>
  </form>
</mat-dialog-content>
